/* #Buttons
--------------------------------------------------------------- */
.btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}

@media screen and (min-width: 768px) {
    .btn-wrapper {
        flex-direction: row;
        align-items: center;
    }
}

.btn {
    height: 30px;
    padding: 0.4rem 1.4rem;
    box-sizing: content-box;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1em;
    font-family: var(--bold);
    font-weight: 400;
    color: var(--secondary);
    border: 0;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: color ease 350ms, background-color ease 350ms, border ease 350ms;
}

/* Full */
.btn.btn-primary {
    color: var(--secondary);
    background-color: var(--primary);
}

.btn.btn-secondary {
    color: var(--primary);
    background-color: var(--secondary);
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-secondary:hover,
.btn.btn-secondary:focus {
    color: var(--secondary);
    background-color: var(--white);
}

/* Outline */
.btn-outline-dark,
.btn-outline-light {
    background-color: transparent;
    border: 1.5px solid var(--primary);
}

.btn-outline-light {
    color: var(--white);
}

.btn.btn-outline-dark:hover,
.btn.btn-outline-dark:focus,
.btn.btn-outline-light:hover,
.btn.btn-outline-light:focus {
    color: var(--secondary);
    background-color: var(--primary);
}

/* Size */
.btn-lg {
    height: 50px;
    padding: 0.4rem 2.5rem;
}

/* Pagination */
.navigation.pagination {
    margin-top: var(--spacing-section-inner);
    font-weight: 700;
    font-family: var(--bold);
}

.navigation.pagination .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.navigation.pagination a {
    color: var(--primary);
    text-decoration: none;
}