/* #Front page
--------------------------------------------------------------- */
/* Hero */
#home-hero {
    padding-top: var(--spacing-section-outer);
    color: var(--white);
    text-align: center;
    background-color: var(--secondary);
}

#home-hero .description {
    margin-top: 8px;
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    #home-hero .description {
        font-size: 35px;
    }
}

#home-hero .btn-wrapper {
    margin-top: var(--spacing-section-inner);
}

#home-hero .certifications {
    margin-top: var(--spacing-section-inner);
    display: flex;
    justify-content: center;
    gap: 1em;
}

#home-hero .certification img {
    width: 100%;
    max-height: 30px;
    display: block;
}

#home-hero .cover {
    width: 100%;
    margin: var(--spacing-section-inner) auto 0 auto;
    display: block;
    border-radius: var(--border-radius);
}