/* #Front page
--------------------------------------------------------------- */
/* Hero */
#home-hero {
    padding-bottom: 0;
}

#home-hero .certifications {
    margin-top: var(--spacing-section-inner);
    display: flex;
    justify-content: center;
    gap: 1em;
}

#home-hero .certification img {
    width: 100%;
    max-height: 35px;
    display: block;
    opacity: 0;
    transition: transform ease 350ms, opacity ease 350ms;
}

#home-hero .certification:nth-child(1) img {
    transition-delay: 200ms;
}

#home-hero .certification:nth-child(2) img {
    transition-delay: 400ms;
}

#home-hero .certification:nth-child(3) img {
    transition-delay: 600ms;
}

#home-hero .certification:nth-child(4) img {
    transition-delay: 800ms;
}

#home-hero .certification:nth-child(n+5) img {
    transition-delay: 1000ms;
}

#home-hero.js-viewed .certification img {
    opacity: 1;
}

#home-hero .certification:hover img,
#home-hero .certification:focus img {
    transform: scale(1.05);
}