/* #Variables
--------------------------------------------------------------- */
:root {
  /* Colors */
  --black: #090909;
  --white: #fffffb;
  --alto: #f4f4f4;
  --cream-can: #F1C54C;
  --persian-indigo: #35093E;

  --primary: var(--cream-can);
  --secondary: var(--persian-indigo);

  /* Fonts */
  --bold: 'Baloo 2', sans-serif;
  --body: var(--bold);

  /* Spacings */
  --spacing-section-inner: 2rem;
  --spacing-section-outer: 4rem;

  /* Radius */
  --border-radius: 4px;
}

@media screen and (min-width: 768px) {
  :root {
    /* Spacings */
    --spacing-section-inner: 2.5rem;
    --spacing-section-outer: 5rem;
  }
}