/* #Content (2 columns)
--------------------------------------------------------------- */
.content-2-columns-block {
    padding: var(--spacing-section-outer) 0;
    position: relative;
}

.content-2-columns-block h2,
.content-2-columns-block .subtitle {
    text-align: center;
}

.content-2-columns-block.reverse .col-wrapper {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .content-2-columns-block.reverse .col-wrapper {
        flex-direction: row-reverse;
        text-align: unset;
    }
}

@media screen and (min-width: 992px) {
    .content-2-columns-block .col-wrapper {
        gap: 5rem;
    }
}

.content-2-columns-block .media>* {
    width: 100%;
}

.content-2-columns-block form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
}