/* #Content (2 columns)
--------------------------------------------------------------- */
.content-2-columns-block {
    padding: var(--spacing-section-outer) 0;
    position: relative;
}

.content-2-columns-block h2,
.content-2-columns-block .subtitle {
    text-align: center;
}

.content-2-columns-block .col-wrapper {
    margin: var(--spacing-section-inner) auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-section-inner);
}

@media screen and (min-width: 768px) {
    .content-2-columns-block .col-wrapper {
        flex-direction: row;
    }
}

@media screen and (min-width: 768px) {
    .content-2-columns-block.reverse .col-wrapper {
        flex-direction: row-reverse;
    }
}

@media screen and (min-width: 992px) {
    .content-2-columns-block .col-wrapper {
        gap: 5rem;
    }
}

.content-2-columns-block .col-wrapper>div {
    flex: 1 1 0;
}

@media screen and (min-width: 768px) {
    .content-2-columns-block .col-wrapper>div {
        max-width: 50%;
    }
}

.content-2-columns-block .media>* {
    width: 100%;
}