/* #Logos grid
--------------------------------------------------------------- */
.logos-grid-block {
  padding: var(--spacing-section-outer) 0;
  position: relative;
  text-align: center;
}

.logos-grid-block .logos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .logos-grid-block .grid {
    grid-gap: 5rem;
  }

  .logos-grid-block .grid.grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .logos-grid-block .grid.grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .logos-grid-block .grid.grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .logos-grid-block .grid.grid-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .logos-grid-block .grid.grid-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

.logos-grid-block .logos img {
  width: 100%;
  max-width: 165px;
  height: auto;
  display: block;
  opacity: 0;
  filter: brightness(5%);
  transition: opacity ease 350ms;
}

@media screen and (min-width: 1200px) {
  .logos-grid-block .grid-4 img:nth-child(4n + 1) {
    transition-delay: 200ms;
  }

  .logos-grid-block .grid-4 img:nth-child(4n + 2) {
    transition-delay: 400ms;
  }

  .logos-grid-block .grid-4 img:nth-child(4n + 3) {
    transition-delay: 600ms;
  }

  .logos-grid-block .grid-4 img:nth-child(4n) {
    transition-delay: 800ms;
  }
}

.logos-grid-block.js-viewed .logos img {
  opacity: 1;
}
