/* #Pricing
--------------------------------------------------------------- */
.pricing-block {
  padding: var(--spacing-section-outer) 0;
  position: relative;
  text-align: center;
}

.pricing-block h2,
.pricing-block .subtitle {
  text-align: center;
}

.pricing-block #price-toggle {
  margin-bottom: var(--spacing-section-inner);
}

.pricing-block #price-toggle[data-toggle="month"] #price-year-button {
  display: none;
}

.pricing-block #price-toggle[data-toggle="year"] #price-month-button {
  display: none;
}

.pricing-block .grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--spacing-section-inner);
}

@media screen and (min-width: 992px) {
  .pricing-block .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Elements */
.pricing-block .element {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: 2px solid var(--secondary);
  border-radius: var(--border-radius);
}

@media screen and (min-width: 992px) {
  .pricing-block .element:nth-child(4) {
    padding: 5rem;
    flex-direction: row;
    grid-column: span 3;
    justify-content: space-between;
  }
}

.pricing-block .element .title {
  text-transform: uppercase;
  font-weight: 700;
}

.pricing-block .element .icon {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  border-radius: 50%;
}

.pricing-block .element .icon img {
  width: 100%;
  height: auto;
  max-width: 65px;
}

.pricing-block [data-toggle="month"]+.grid .element #price-year,
.pricing-block [data-toggle="year"]+.grid .element #price-month {
  display: none;
}

.pricing-block .price_price {
  font-size: 30px;
  font-weight: 600;
  color: var(--primary);
}

.pricing-block .price_label {
  margin-top: -7px;
  font-style: italic;
}

/* Features */
.pricing-block .features {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.pricing-block .features li {
  z-index: 0;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.pricing-block.checked .features li:before {
  content: "✅";
  margin-top: 2px;
  font-size: 0.9em;
}

.pricing-block .features .inner-feature {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.pricing-block .features li h4 {
  text-transform: uppercase;
}

.pricing-block .features li a {
  display: block;
  text-decoration: none;
  color: var(--secondary);
}

.pricing-block [data-toggle="month"]+.grid li a.feature-year,
.pricing-block [data-toggle="year"]+.grid li a.feature-month {
  display: none;
}

.pricing-block .features li a[href]:hover {
  text-decoration: underline;
}

.pricing-block .element:not(:nth-child(4)) .btn {
  margin-top: auto;
}