/* #Pricing
--------------------------------------------------------------- */
.pricing-block {
  padding: var(--spacing-section-outer) 0;
  position: relative;
  text-align: center;
}

.pricing-block h2,
.pricing-block .subtitle {
  text-align: center;
}

.pricing-block #price-toggle {
  margin-bottom: var(--spacing-section-inner);
}

.pricing-block #price-toggle[data-toggle="month"] #price-year-button {
  display: none;
}

.pricing-block #price-toggle[data-toggle="year"] #price-month-button {
  display: none;
}

.pricing-block .grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--spacing-section-inner);
}

@media screen and (min-width: 992px) {
  .pricing-block .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.pricing-block .grid .element {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 2px solid var(--secondary);
  border-radius: var(--border-radius);
}

@media screen and (min-width: 992px) {
  .pricing-block .grid .element:nth-child(4) {
    padding: 5rem;
    flex-direction: row;
    grid-column: span 3;
    justify-content: space-between;
  }
}

.pricing-block .grid .title {
  text-transform: uppercase;
  font-weight: 700;
}

.pricing-block .grid .element .icon {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  border-radius: 50%;
}

.pricing-block .grid .element img {
  width: 100%;
  height: auto;
  max-width: 65px;
}

.pricing-block [data-toggle="month"]+.grid .element #price-year {
  display: none;
}

.pricing-block [data-toggle="year"]+.grid .element #price-month {
  display: none;
}

.pricing-block .grid .price_price {
  font-size: 30px;
  font-weight: 600;
  color: var(--primary);
}

.pricing-block .grid .features * {
  font-weight: 600;
}